/* - General - */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #0B4F8F;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
}

p {
    line-height: 1.4em;
}

a {
    color: #0B4F8F;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

.card {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 7px -2px #000000;
}

.type-of-day[data-color="blue"] {
    color: #0B4F8F;
}

.type-of-day[data-color="red"] {
    color: #D60F48;
}

/* - Newspaper - */

#newspaper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-height: 100%;
    margin: auto;
    margin-bottom: 10px; /* bodyPadding - cardMargin */
}

/* - Main Header - */

#main-header {
    text-align: center;
    padding: 50px;
}

    #main-header h1 {
        font-size: 8em;
    }

/* - Main Nav - */

#main-nav {
    overflow: hidden;
}

    #main-nav ul {
        display: flex;
        justify-content: space-around;
    }

    #main-nav li {
        flex: 1;
    }

    #main-nav a {
        display: block;
        color: #0B4F8F;
        font-size: 1.5em;
        text-align: center;
        text-decoration: none;
        padding: 20px;
    }

        #main-nav a:hover {
            background-color: #EEEEEE;
        }

/* - Content Wrapper - */

#content-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/* - Main Sidebar - */

#main-sidebar {
    order: 100;
    width: 300px;
    padding: 20px;
    border-left: 1px solid #CCCCCC;
}

    #main-sidebar > div {
        margin-bottom: 20px;
    }

    /* - Widget: Flip Day - */

    .flip-day-widget .type-of-day {
        font-size: 2.5em;
        text-align: center;
        margin: 10px 0;
    }

    .flip-day-widget-bottom {
        text-align: right;
    }

    /* - Widget: Upcoming Events - */

    .upcoming-events-widget h3 {
        color: #D60F48;
        font-size: 2em;
        margin-bottom: 10px;
    }

    .upcoming-event {
        padding: 10px;
        border-top: 6px double #CCCCCC;
    }

        .upcoming-event h4 {
            font-size: 1.5em;
        }

    .upcoming-event:last-of-type {
        border-bottom: 6px double #CCCCCC;
    }

/* - Main Content - */

.main-content {
    flex: 1;
}

/* - Article Listing - */

.article-listing {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    border: 1px solid #CCCCCC;
}

.article-listing-eyecatcher {
    margin-right: 20px;
}

.article-listing-content {
    flex: 1;
}

    .article-listing-content h2 {
        margin-bottom: 10px;
    }

        .article-listing-content h2 a {
            color: #D60F48;
            font-size: 2em;
            text-decoration: none;
        }

            /*.article-listing-content h2 a:hover {
                text-decoration: underline;
            }*/

    .article-listing-content p {
        display: inline;
    }

/* - Article - */

#article {
    margin: 50px;
}

#article-information h2 {
    color: #D60F48;
    font-size: 5em;
}

#article-subinformation {
    font-style: italic;
}

#article-description {
    margin: 20px 0;
    padding: 20px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

#article-content {
    font-family: "Merriweather", serif;
}

    #article-content > * {
        margin-bottom: 10px;
    }

    #article-content h1 {
        font-size: 2.2em;
    }

    #article-content h2 {
        font-size: 1.8em;
    }

    #article-content h3 {
        font-size: 1.2em;
    }

    #article-content code {
        font-family: "Consolas", monospace;
    }

    #article-content ul,
    #article-content ol {
        list-style-position: inside;
        margin-left: 20px;
    }

    #article-content ul {
        list-style-type: disc;
    }

    #article-content ol {
        list-style-type: decimal;
    }

    #article-content li {
        margin-bottom: 10px;
    }

    #article-content blockquote {
        background-color: #EEEEEE;
        margin: 20px;
        padding: 20px;
        border-left: 10px solid #D60F48;
    }

    #article-content cite {
        display: block;
        text-align: right;
    }

    #article-content cite:before {
        content: "—";
    }

/* - Main Footer - */

#main-footer {
    text-align: center;
    padding: 20px;
}
