/* - General - */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #0B4F8F;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
}

p {
    line-height: 1.4em;
}

a {
    color: #0B4F8F;
}

.type-of-day[data-color="blue"] {
    color: #0B4F8F;
}

.type-of-day[data-color="red"] {
    color: #D60F48;
}

/* - Newspaper - */

#newspaper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 0 2px 7px -2px #000000;
    border-radius: 3px;
}

/* - Main Header - */

#main-header {
    text-align: center;
    padding: 50px;
}

    #main-header h1 {
        font-size: 8em;
    }

/* - Main Nav - */

#main-nav {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

    #main-nav ul {
        display: flex;
        justify-content: space-around;
    }

    #main-nav li {
        padding: 20px;
    }

    #main-nav a {
        display: inline-block;
        font-size: 1.5em;
        text-decoration: none;
        color: #0B4F8F;
    }

        #main-nav a:hover {
            text-decoration: underline;
        }

/* - Content Wrapper - */

#content-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

/* - Main Sidebar - */

#main-sidebar {
    order: 100;
    width: 300px;
    padding: 20px;
    border-left: 1px solid #CCCCCC;
}

    #main-sidebar > div {
        margin-bottom: 20px;
    }

    /* - Widget: Flip Day - */

    .flip-day-widget .type-of-day {
        font-size: 2.5em;
        text-align: center;
        margin: 10px 0;
    }

    .flip-day-widget-bottom {
        text-align: right;
    }

    /* - Widget: Upcoming Events - */

    .upcoming-events-widget h3 {
        color: #D60F48;
        font-size: 2em;
        margin-bottom: 10px;
    }

    .upcoming-event {
        padding: 10px;
        border-top: 6px double #CCCCCC;
    }

        .upcoming-event h4 {
            font-size: 1.5em;
        }

    .upcoming-event:last-of-type {
        border-bottom: 6px double #CCCCCC;
    }

/* - Main Content - */

.main-content {
    flex: 1;
}

/* - Article Listing - */

.article-listing {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    border: 1px solid #CCCCCC;
}

.article-listing-eyecatcher {
    margin-right: 20px;
}

.article-listing-content {
    flex: 1;
}

    .article-listing-content h2 {
        margin-bottom: 10px;
    }

        .article-listing-content h2 a {
            color: #D60F48;
            font-size: 3em;
        }

    .article-listing-content p {
        display: inline;
    }

/* - Main Footer - */

#main-footer {
    border-top: 1px solid #CCCCCC;
    text-align: center;
    padding: 20px;
}
